<h1>Dashboard#index</h1>


<ul class="slider">
	<li><img src="http://ecx.images-amazon.com/images/I/51i5kYqUwAL._AA160_.jpg"></li>
	<li><img src="http://ecx.images-amazon.com/images/I/51WWxtG2y9L._AA160_.jpg"></li>
	<li><img src="http://ecx.images-amazon.com/images/I/51Gnrwy4SqL._AA160_.jpg"></li>
</ul>
